body {
	background: #FFFFFF;
	font-family: monospace;
	color: #333333;
	font-size: 14px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.everything{
	width: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
button {
	background: #FFFFFF;
	border: 1px solid #333333;
	color: #333333;
	cursor: pointer;
	margin: 5px;
	border-radius: 4px;
}
button:hover {
	background: #CCCCCC;
}
button:disabled {
	background: #999999;
	cursor: default;
}
.version{
	position: absolute;
	right:15px;
	bottom:15px;
}
.helpMenu{
	position: absolute;
	left:300px;
	top:150px;
	width:800px;
	height:500px;
	background: #CCCCCC;
	border: 1px solid #333333;
	border-radius: 50px;
	display: none;
	z-index:98;
}	.helpScreen{
		position: relative;
		background: #CCFFCC;
		margin-left: 100px;
		margin-top: 50px;
		width: 600px;
		height: 400px;
		border: 1px solid #999999;
		border-radius: 5px;
		z-index: 99;
	}	.helpLeft{
			position: absolute;
			top: 5px;
			left: 5px;
			width: 290px;
			height: 390px;
			border-right: 1px solid #999999;
			overflow: auto;
		}.helpRight{
			position: absolute;
			top: 5px;
			left: 300px;
			width: 290px;
			height: 390px;
		}.helpText{
			display: none;
		}.genTopic{
			margin-top: 5px;
			cursor: pointer;
		}.helpTopic{
			display: none;
			cursor: pointer;
			margin-left: 5px;
		}.hlpClose{
			cursor: pointer;
			position: absolute;
			top: -25px;
			right: -50px;
		}
.topBar {
	width: 650px;
	height: 100px;
	position: absolute;
	top: 5px;
	left: 250px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}	.topBar button{
		display: none;
	}
.leftBar {
	width: 200px;
	height: 600px;
	position: absolute;
	top: 5px;
	left: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}	.leftBar .pikminMenu{
		display: none;
		width: 100%;
		height: 14%;
		padding-top: 5px;
		padding-left: 10px;
		margin-bottom: 5px;
		color: #000000;
	}	.pikminMenu .head{
			width: 100%;
			text-align: center;
			text-decoration: underline;
		}
	.leftBar #rockBlock{
		color: #DDDDDD;
	}
.rightBar {
	width: 200px;
	border: 1px solid #333333;
	height: 600px;
	position: absolute;
	top: 5px;
	right: 10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	overflow: auto;
}	.rightBar:empty {
		display: none;
	}
	.pellets{
		display: none;
	} .pellets div{
		width: 90%;
		padding: 5px;
	} .pelletColor{
		display: none;
	}.stuff div{
		width: 90%;
		padding: 5px;
	}.nectar{
		width: 90%;
		padding: 5px;
		cursor: pointer;
	}.bombs{
		width: 90%;
		padding: 5px;
	}.coin{
		width: 90%;
		padding: 5px;
	} .rightTitle{
		width: 100%;
		text-align: center;
		font-weight: bold;
	}
.mainBar {
	width: 695px;
	height: 600px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}	.pikminFarm{
		width: 100%;
		height: 100%;
		position: relative;
	}	.btnPluck{
			display: none;
		}
	.store{
		display: none;
		width: 100%;
	} .strItm{
			width: 100%;
			display: none;
			padding-left: 25px;
		} .storeHeader{
				cursor: pointer;
			}
			.strCatContainer{
				padding-top: 5px;
				padding-bottom: 5px;
			}
.mainBar #map {
		display: none;
		cursor: default;
	} 	#map pre{
			font: 12px/10px monospace;
		}
		#placeName{
			position:absolute;
			border: 1px solid #333333;
			background: #FFFFFF;
			padding: 5px;
			text-align: center;
		}
		#placeName:empty{
			display:none;
		}
		#overworld{
			display:none;
			border: 1px dashed #333333;
		}
		.pelletFarm{
			display:none;
			width: 690px;
		}
@media (min-width: 1111px){
    .mainBar{
        margin-left: auto;
        margin-right: auto;
        margin-top: 110px;
    }
}

@media (max-width: 1110px){
    .mainBar{
		position: absolute;
		top: 110px;
        left: 210px;
    }
}
.subMap{
	display: none;
}
.battleDialog{
	display: none;
	position: absolute;
	top: 10px;
	right: 350px;
	width: 200px;
	border: 1px solid #333333;
	background: #FFFFFF;
	color: #000000;
} 	.plyrSide{
		position: relative;
		width: 49%;
		height: 100%;
		float: left;
		padding-bottom: 15px;
	} .opntSide{
		position: relative;
		width: 49%;
		height: 100%;
		float: right;
		border-left: 1px dotted #333333;
		padding-bottom: 15px;
	}	.btlName{
			text-align: center;
		} .btlHP{
			position: absolute;
			right: 2px;
			bottom: 2px;
		}
.squadMaker{
	position: absolute;
	display: none;
	top: 110px;
	left: 215px;
	width: 200px;
	border: 1px solid #333333;
	background: #FFFFFF;
	color: #000000;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}	.squadColor{
		display: none;
		margin-bottom:5px;
		width: 200px;
		height: 50px;
	} #rockSquad{
		color: #DDDDDD;
	} .squadSection{
		position: relative;
		float: left;
		width: 33%;
	} .numSquad{
		position: absolute;
		left: 20px;
		top: 20px;
	} .totalSquadNum{
		float: right;
		margin-right:5px;
	} .squadHelp{
		padding-left: 3px;
		padding-bottom: 3px;
		font-size: 12px;
	}
.upArrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #000000;
	cursor: pointer;
	position: absolute;
	left: 5px;
	top: 15px;
}
.downArrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000000;
	cursor: pointer;
	position: absolute;
	left: 5px;
	top: 30px;
}
pre {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font: 4px/3px monospace;
}
#discovery{
	position: absolute;
	bottom: 5px;
	left: 50%;
	background: #FFFFFF;
}
#alerts {
	background: #FFFFFF;
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 5px;
	width: 300px;
}	#alerts .alert {
		border-bottom: 1px dashed #333333;
		text-align: center;
	} #alerts:empty {
		display:none;
	}
#btnStop{
	display: none;
}